:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --order-button-color: #188ce8;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Local reset styles */

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

/* ========== Header ========== */

.header {
border-bottom: 1px solid #ECECEC;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

/* Logo */

.logo {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
}

.header-logo {
  display: inline-block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.black-logo {
  color: var(--primary-black-color);
}

.white-logo {
  color: var(--primary-white-color);
}

/* Navigation */

.nav-list {
  display: flex;
}

.nav-list .current {
  color: var(--accent-color);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* Contacts */

.contacts-list {
  display: flex;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  
  color: inherit;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* ========== Main ========== */

/* Hero */

.hero {
  min-width: 1200px;
  background-image: url(../images/background/hero-background.jpg);
  background-color: var(--footer-background-color);
  background-repeat: no-repeat;
  background-position: center;
    
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* Buttons */

.button {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}

.order-button {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border: none;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
}

.order-button:hover,
.order-button:focus {
  background-color: var(--order-button-color);
}

/* Section */

.section {
  padding-top: 94px;
  }

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

/* Hidden title */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Features */

.features-list {
  display: flex;
}

.features-item {
  width: calc((100%-90px)/4);
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}

.features-text {
  line-height: calc(24 / 14);
}

/* Specifications */

.specifications {
  padding-bottom: 94px;
}

.specifications-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.specifications-item {
  width: 370px;
}
  
/* Team */

.team {
  background-color: var(--secondary-background-color);
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.teammate {
  width: 270px;
    
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teammate-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.teammate-title,
.teammate-position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.teammate-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
}



/* ========== Footer ========== */

.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-right: 0px;
  padding-bottom: 60px;
  padding-left: 0;
  }

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-geo {
  color: var(--primary-white-color);
  line-height: calc(24 / 14);
  font-style: normal;
}

.email,
.number {
  color: var(--footer-contacts-color);
  line-height: calc(24 / 14);
  font-style: normal;
}

.address-geo:hover,
.address-geo:focus,
.email:hover,
.email:focus,
.number:hover,
.number:focus {
  color: var(--accent-color);
  /* на макеті не зазначено на який колір повині змінюватися контакти */
}


/* ======================================== */
/*                 Portfolio                */
/* ======================================== */


.portfolio {
 padding-bottom: 94px;
}

/* Filter */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  }

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Examples */

.example-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.example-item {
  width: 370px;
 }

.example-description {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.example-title {
  margin-bottom: 4px;
    
  font-size: 18px;
  line-height: calc(36 / 18);
  color: var(--title-text-color);
}

.example-type {
  font-size: 16px;
  line-height: calc(30 / 16);
}



